@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    line-height: 1.6;
    height: 100%;
}

.background-img {
    background-image: url('https://i.imgur.com/qepqori.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner {
    max-height: 100vh;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-weight: 600;
    font-size: 28px;
    text-decoration: none !important;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-toggler span {
    color: #fff;
}

.toggler-black {
    color: #000 !important;
}

.solid {
    background-color: #fff;
    transition: background-color 1s ease 0s;
}

.solid a {
    color: #000000;
}

.nav-item .nav-link {
    font-weight: 600;
    line-height: 10px;
    padding: 10px 0 10px 20px !important;
}

.navbar-right {
    margin-left: auto;
    text-align: right;
}

.has-overlay {
    background: rgba(80, 80, 80, 0.60);
    position: relative;
    height: 100%;
    width: 100%;
}

.text-right {
    text-align: right;
}

.banner-content {
    width: 100%;
    padding-top: 30vh;
    padding-bottom: 20vh;
    height: 100vh;
}

.banner-header {
    color: #fff;
    padding-bottom: 60px; 
    margin: 0 auto;
}

.banner-header .intro-text {
    font-size: 3.8em;
}

.banner-header .name {
    border-bottom: 2px solid #fff;
}

.banner-header #typed-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.banner-buttons {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 1.3333333;
    text-decoration: none;
}

.banner-buttons a {
    color: #fff
}

.banner-buttons .btn-more {
    background-color: transparent;
    border-color: #fff;
    border-width: 6px;
    border-radius: 0;
    padding: 13px 30px;
    margin-right: 10px;
}

.banner-buttons .btn-touch {
    padding: 13px 30px;
    background-color: #cd5c5c;
    border:6px solid #cd5c5c;
    border-radius: 0;
}

.banner-buttons .btn-touch:hover {
    transition: .5s;
    border-color: #c72e2e;
}

.section {
    padding: 6em 0;
}

.section-social {
    background-image: url('https://i.imgur.com/TC17fkD.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4em 0;
}

.section-header {
    color: #cd5c5c;
    font-weight: 600;
    padding-bottom: 15px;
}

.section-decription {
    color: #708090;
    padding-bottom: 15px;
}

.social-container{
    margin: 0 auto;
}

.underline {
    width: 100px;
    height: 20px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #777;
}

.section-text {
    margin: 30px auto 0 auto;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
}

.social-icons {
    margin: 50px auto 0;
    padding: 0;

}

.social-icons li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding-left: 0;
    list-style: none;
    display: inline-block;
}

.social-icons li a {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 33px;
    color: #777;
    border: 2px solid #777;
    border-radius: 50%;
}

.social-icon li a:hover {
    background-color: #777;
    color: #fff;
}

.social-icon {
    display: inline-block;
    font-size: 32px;
    text-align: center;
    padding: 5px;
}

.social-icon i {
    vertical-align: top;
    padding-top: 7px;
}